<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="tab">
      <div class="logo">
        <div class="store"><h1><b>iBook</b></h1></div>
      </div>
      
      <div class="bar">
          <h3>
          <% if custumer_signed_in? %>
              Hello <%= current_custumer.full_name %>!
              <%= button_to 'Logout', sessions_path, method: :delete, data:{confirm: 'Are you sure you want to logout?'} %>
          <% else %>
              <%= link_to 'Login', new_sessions_path %> |
              <%= link_to 'Sign Up', new_custumer_path %> |
          <% end %>
        
          <%= link_to 'Store', books_path %> | 
          <% if current_custumer && current_custumer.is_admin %>
            <%=  link_to 'New Book', new_book_path %> |
          <% end %>
          <% if current_custumer %>
            <%=  link_to 'Cart', cart_path %> |
          <% end %>
          <%= link_to 'Contact Us', contact_path %> 
          </h3>
      </div>
    </nav>
    
    <div>
        <%= render 'layouts/alerts' %>
    </div>
   
    <%= yield %>
  </body>
</html>
